@model IEnumerable<Inventory.Models.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Products" asp-action="Index" method="get" class="row g-2 mb-3">
    <div class="col-md-5">
        <input type="text" placeholder="Search product name..." class="form-control" name="searchName"
            value="@ViewBag.SearchName" />
    </div>

    <div class="col-md-5">
        <select name="categoryFilter" class="form-control">
            <option value="">All Categories</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Name" selected="@(category.Name == ViewBag.CategoryFilter)">@category.Name</option>
            }
        </select>

    </div>
    <div class="col-md-2">

        <input type="submit" value="Search product" class="btn btn-primary">
    </div>
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Products name
            </th>
            <th>
                Category
            </th>
            <th>
                Price(Tk)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Created date
            </th>
            <th>
                Updated date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.Category != null ? item.Category.Name : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
